body {
    height: auto;
    width: auto;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

table.product-table {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 1px solid black;
}

table.product-table thead {
    background-color: #6e6f75;
}

table.product-table th, td {
    border: 1px solid black;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #111;
}